.software-hub-view{font-size:14px!important;font-family:Georgia,"Bitstream Charter",serif!important;border:0!important}
.software-hub-view .ui-tabs-nav{background:none}
.software-hub-view ul.ui-tabs-nav{font-size:14px;border-bottom:1px solid #AAA;border-left:0;border-right:0;border-top:0;margin-bottom:0!important}
.software-hub-view ul.ui-tabs-nav li{border-top-right-radius:0;border-top-left-radius:0;background:#AAA!important}
.software-hub-view ul.ui-tabs-nav li a{color:#FFF!important;text-shadow:0 -1px 0 #868686!important}
.software-hub-view ul.ui-tabs-nav li.ui-state-active{background:#FFF!important}
.software-hub-view ul.ui-tabs-nav li.ui-state-active a{color:#000!important;text-shadow:0 1px 0 #EEE!important}
#installdropdown{width:100%}
