.software-hub-view {
    border: none;
}

.software-hub-view .ui-tabs-nav {
    background:none;
}

.software-hub-view {
    font-size: 14px;
}

.software-hub-view ul.ui-tabs-nav {
    font-size: 14px;
    border-bottom: 1px solid #AAAAAA;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-bottom: 0px !important;
}

.software-hub-view ul.ui-tabs-nav li {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background: #AAA !important;
}
.software-hub-view ul.ui-tabs-nav li a {
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 #868686 !important;
}
.software-hub-view ul.ui-tabs-nav li.ui-state-active {
    background: #FFFFFF !important;
}
.software-hub-view ul.ui-tabs-nav li.ui-state-active a {
    color: #000 !important;
    text-shadow: 0 1px 0 #EEE !important;
}

.software-hub-view {
    font-size: 14px !important;
    font-family: Georgia,"Bitstream Charter",serif !important;
    border: 0px !important;
}